<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome Letter | Talkz</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
         <body> <p>Hi {{.Username}},</p>
            <p>Thanks for signing up for Talkz. We're excited to have you on board!</p></p>
            <p>Before you can start using Talkz, you need to confirm your email address. Click the link below to confirm your email address:</p>
            <p>If you want to activate your account manually copy and paste the code from the link above</p>
            <p>If you didn't sign up for Talkz, you can safely ignore this email.</p>

            <p>Thanks,</p>
            <p>The Talkz Team</p>
        </body>
    </body>
</html>